# Dependencies
node_modules/
*/node_modules/

# Local ports and cache
.port
*/.port
.vite/
*/.vite/

# Production builds
dist/
*/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
